<!doctype html>
<head>
    <title>{% block title %}{% endblock %} | Rei</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/datepicker.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/rei.css') }}">
</head>
<body>
    <div class="row">
        <div class="span12">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li class="active"><a href="{{ url_for('invoices') }}">List Invoices</a>
                            <li><a href="{{ url_for('new_invoice') }}"><i class="icon-plus"></i> New Invoice</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span3"></div>
        <div class="span12" style="margin-top: 30px; padding-top: 30px;">
            {% for message in get_flashed_messages() %}
                <p class='flash alert-info'>{{ message }}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>

    <!-- JS Stuff -->
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker({'format': 'yy/mm/dd'});
        })
    </script>
<body/>
