{% extends "layout.html" %}
{% block title %}New Invoice{% endblock %}
{% block body %}
    <h2>New Invoice</h2>
    <form action="" method=post>
        <p>
            <input type="text" name="store" placeholder="Store" />
        </p>
        <p>
            <input type="datetime" id="datepicker" name="date" placeholder="" /></p>
        <p>
            <input type="text" name="value" placeholder="1337.00" /> £
        </p>
        <p>
            <input type=submit value="Create" class="btn btn-inverse">
        </p>
    </form>

{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function() {
            $(function(){
                $.datepicker.setDefaults(
                    $.extend($.datepicker.regional['gb'])
                );
                $('#datepicker').datepicker({dateFormat: "y/mm/dd"});
            });
        });
    </script>
{% endblock %}
