{% extends "layout.html" %}
{% block title %}New Invoice{% endblock %}
{% block body %}
    <h2>New Invoice</h2>
    <form action="" method=post>
        <p>
            <input type="text" name="store" placeholder="Store" />
        </p>
        <p>
            <input type="datetime" class="datepicker" name="date" value={{ default_date }} /></p>
        <p>
            <input type="text" name="value" placeholder="1337.00" /> {{ config.CURRENCY|safe }}
        </p>
        <p>
            <input type=submit value="Create" class="btn btn-inverse">
        </p>
    </form>

{% endblock %}
